body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

body *{
    box-sizing: border-box;
}
 
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #ADD90D;
    font-size: 3vw;
}

.left-login-image {
    width: 33vw; 
} 

.right-login{
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    width: 12vw;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:  #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #ADD90D;
    font-weight: 800;
    margin: 0;

}

.textfield{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfield > input ::placeholder{
    color: #f0ffff94;

}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #F2F2F2;
    background-color: #ADD90D;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;


}

.card-login p a {
    color: #007bff; /* cor azul padrão */
    text-decoration: none; /* remove o sublinhado padrão */
    transition: color 1ms; /* adiciona uma transição suave */
}

.card-login p a:hover {
    color: #0056b3; /* altere a cor ao passar o mouse */
}

.btn-login:hover {
    background-color: #0056b3; /* Altera a cor de fundo ao passar o mouse */
}

.help-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px; /* Ajustar conforme necessário */
    color: aliceblue;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
}